 
 body {
    margin: 100px;

    .box{
    background-color: rgb(51, 255, 0)
    margin: auto;
    height: 300px;
    width: 300px; /* largura do box */
    margin: 0 auto;/* centraliza o box horizontalmente */
    position: absolute; /* remove o box do fluxo normal */
    top: 50%; /* posiciona o box 50% da altura da tela */
    transform: translate( -50%, -50%);/* centraliza obox vertical e horizontalmente */
    padding: 20px; /* espaçamento interno do box */ 
    left: 50%; /* posiciona obox 50% da largura da tela */
     }
    
     .box:hover {     
         border-radius: 50%;
        background-color: aquamarine; /* cor de fundo do box */ 
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-property: background- color, boder-radius;
        transition-delay: 1s;
